fastapi
uvicorn
motor
pymongo
openai
google-genai
google-generativeai
boto3
stripe
python-dotenv
python-jose
passlib
bcrypt
python-multipart
imagekitio
requests
websockets
pydantic
huggingface_hub
litellm
pytest
